* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 16px/1.5 "Poppins", sans-serif;
  background-color: #0d141e;
}

a {
  display: inline-block;
  font: 400 16px/1.5 "Poppins", sans-serif;
  text-decoration: none;
  color: #ffffff;

  &:hover {
    text-decoration: none;
  }
}

.title {
  font-weight: 600;
  font-size: 44px;
  background: linear-gradient(
    79.62deg,
    rgba(255, 255, 255, 0.72) -8.51%,
    #ffffff 35.28%,
    rgba(169, 198, 215, 0.64) 101.59%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.subtitle {
  font-weight: 500;
  font-size: 24px;
  color: #29c5f6;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* btn */

.btn {
  padding: 24px 64px;
  font-size: 18px;
  border-radius: 4px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.03em;
  text-align: center;
  transition: 300ms;
  background: radial-gradient(
      66.1% 66.1% at 50% 17.8%,
      #29c5f6 0%,
      #1c8ade 100%
    )
    #29c5f6;
  box-shadow: 0px 3px 0px #004e86;
  border-radius: 4px;

  &--dark {
    background: linear-gradient(
      263.31deg,
      rgba(255, 255, 255, 0.04) 4.27%,
      rgba(255, 255, 255, 0) 100.56%
    );
    box-shadow: inset 0px 0px 8px rgba(255, 255, 255, 0.05);
  }
}

.btn-app {
  padding: 21px 16px;
  background: linear-gradient(
    263.31deg,
    rgba(255, 255, 255, 0.04) 4.27%,
    rgba(255, 255, 255, 0) 100.56%
  );
  box-shadow: inset 0px 0px 8px rgba(255, 255, 255, 0.05);
  height: 72px;
}


/* Input */

input[type="text"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="color"],
input[type="email"],
input[type="password"] {
  appearance: none;
  width: 100%;
  height: 50px;
  padding: 0 22px;
  border: 1px solid #c7d7df;
  border-radius: 6px;
  color: #000;
  font: 400 16px/1.5 "Poppins", sans-serif;

  &::placeholder {
    color: #898989;
  }
  &::-moz-placeholder {
    color: #898989;
  }
}

input.input-error {
  border-color: #a94442;

  &::placeholder {
    color: #a94442;
  }
  &::-ms-placeholder {
    color: #a94442;
  }
}

.input-error {
  margin-top: 4px;
  color: #a94442;
  font-size: 14px;
}

/* Container */

.container {
  max-width: 1448px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;

  // @media screen and (max-width: 1336px) {
  //   max-width: 970px;
  // }
  // // @media screen and (max-width: 991px) {
  // //   max-width: 750px;
  // // }
  // // @media screen and (max-width: 767px) {
  // //   max-width: 100%;
  // //   padding: 0 15px;
  // // }
}
